# user --> 1- name 2- age 3- phone number

In [9]:
name= input("enter your name: ")
age= int(input("enter your age: "))
phone= int(input("enter your phone number"))

print("your name is:",name , "your age is:",age ," your phone number is: ",phone)

enter your name: O
enter your age: 26
enter your phone number3121
your name is: O your age is: 26  your phone number is:  3121

In [5]:
name= input("enter your name: ")
age= int(input("enter your age: "))
phone= int(input("enter your phone number"))

print("your name is: {}, your age is: {}, your phone number is: {} ".format(name,age,phone))

enter your name: O
enter your age: 26
enter your phone number0127388023
your name is: O, your age is: 26, your phone number is: 127388023

In [6]:
def data(name,age,phone):
    print("your name: {}, your age is: {}, your phone number is: {}".format(name,age,phone))
username= input("enter your name: ")
AGE= int(input("enter your age: "))
Phone_number= int(input("enter your number: "))


data(username,AGE,Phone_number)

enter your name: Omar
enter your age: 26
enter your number: 566546165
your name: Omar, your age is: 26, your phone number is: 566546165

In [8]:
def data(name,age,phone):
    print("your name: , your age is: , your phone number is: ",(name,age,phone))
username= input("enter your name: ")
AGE= int(input("enter your age: "))
Phone_number= int(input("enter your number: "))


data(username,AGE,Phone_number)

enter your name: O
enter your age: 545
enter your number: 64654654
your name: , your age is: , your phone number is:  ('O', 545, 64654654)

# global variable & local variable

In [13]:
x= 5
def amit():
    x=6
    print(x)
amit()

6

# Loops

In [1]:
x=["amit","learning","python"]

print(x[0])
print(x[1])
print(x[2])

amit
learning
python

In [4]:
#print values using for loop

x=["amit","learning","python"]

for a in x:
    print(x)

['amit', 'learning', 'python']
['amit', 'learning', 'python']
['amit', 'learning', 'python']

In [8]:
#print values using for loop

x=["amit","learning","python"]

for a in x:
    print(a)

amit
learning
python

In [7]:
x=["amit","learning","python"]

for a in x:
    print("variable of a:",a)

variable of a: amit
variable of a: learning
variable of a: python

In [10]:
for x in "amit":
    print(x)

a
m
i
t

In [12]:
for x in["amit"]:
    print(x)

amit

In [13]:
for x in ("amit"):
    print(x)

a
m
i
t

In [14]:
for x in ("amit",):
    print(x)

amit

# Break & Continous

In [23]:
for x in "amit":
    if x=="a":
        print("done")
    else:
        print (x)

done
m
i
t

In [24]:
for x in "amit":
    if x=="i":
        print("done")
    else:
        print (x)
        
        #output:
        # a
        # m
        # done
        # t

a
m
done
t

In [26]:
for x in ["amit","amit"]:
    if x=="t":
        print("done")
    else: 
        print(x)

amit
amit

In [27]:
for x in ("amit"):
    if x=="t":
        print("done")
    else: 
        print(x)

a
m
i
done

In [28]:
for x in ("amit",):
    if x=="t":
        print("done")
    else: 
        print(x)

amit

In [35]:
for x in ("amit"):
    if x=="m":
        break
    else: 
        print(x)
print("amit learning")

a
amit learning

In [40]:
for x in ("amit,learning"):
    if x=="a":
        continue
    else: 
        print(x)
#print("amit learning")

m
i
t
,
l
e
r
n
i
n
g

In [42]:
for x in ("amit,learning", "amit"):
    if x=="amit":
        continue
    else: 
        print(x)

amit,learning

In [45]:
for x in ("a","b","i","c","d","i","m"):
    if x=="i":
        continue
        
    else:
        print(x)

a
b
c
d
m

# Check output

In [49]:
x=["amit","learning","python"]
for q in x:
    print(q)
    if q=="learning":
        continue

amit
learning
python

In [50]:
x=["amit","learning","python"]
for q in x:
    if q=="learning":
        continue
    print(q)

amit
python

In [52]:
x=["amit","learning","python"]
for q in x:
    if q=="learning":
        print(q)
        continue

learning

# Range

In [53]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [54]:
for x in range(2,10,2):
    print(x)

2
4
6
8

In [58]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [57]:
for x in range(6):
    print(x)
else:
    print("finish")

0
1
2
3
4
5
finish

In [67]:
for x in range(6):
    if x==3:
        break
        print(x)
 # lma el for loop t5ls ---> el else betshta3'al        
else:
    print("finish")

In [64]:
for x in range(6):
    if x==3:
        break
        print(X)
    else:
         print("finish")

finish
finish
finish

In [66]:
for x in range(6):
    if x==3:
        print(x)
        break
        
 # lma el for loop t5ls ---> el else betshta3'al        
else:
    print("finish")

3

In [68]:
for x in range(6):
    if x==3:
        print(x)
        continue
    else:
         print("finish")

finish
finish
finish
3
finish
finish

In [69]:
for x in range(6):
    if x==3:
        continue
        print(x)
    else:
         print("finish")
else:
    print("break")

finish
finish
finish
finish
finish
break

In [72]:
x= ["amit","learning","python"]
y= ["amit","learning","python"]

for a in x:
    for b in y:
        print(a,b)

amit amit
amit learning
amit python
learning amit
learning learning
learning python
python amit
python learning
python python

# Nested Loop

In [75]:
x= ["ss","KK","TT"]
y= ["amit","learning","python"]

for a in x:
    for b in y:
        print(a)
        print(b)

ss
amit
ss
learning
ss
python
KK
amit
KK
learning
KK
python
TT
amit
TT
learning
TT
python

In [73]:
x= ["ss","tt","kk"]
y= ["amit","learning","python"]

for a in (x):
    print(a)
    for b in y:
        print(b)

ss
amit
learning
python
tt
amit
learning
python
kk
amit
learning
python

# while

In [80]:
x= 5
while x>0:
    print("yes")
    # x= x-1 same like x-= 1
    x-= 1

yes
yes
yes
yes
yes

In [81]:
for x in range (5):
    print("yes")

yes
yes
yes
yes
yes

In [82]:
count= 0
while (count < 3):
    count= count + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [83]:
x= 5
while (x>0):
    x-=1
    if x == 3:
        break 
    else:
        print(x)

4

In [86]:
x= 5
while (x>0):
    x-=1
    if x == 3:
        continue 
    else:
        print(x)

4
2
1
0

# Function

In [87]:
print("hello world")

hello world

In [88]:
def function1():
    print("hello world")

function1()

hello world

In [89]:
def name(x):
    print(x)

x= input("write your name: ")
name(x)

write your name: Omar
Omar